<!DOCTYPE html>
<html>

<head>

    <title>Add Transaction</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

<nav>

    <h2>💰 AI Finance Assistant</h2>

    <div>
        <a href="/dashboard">Dashboard</a>
        <a href="/transactions">Transactions</a>
        <a href="/budget">Budget</a>
        <a href="/logout">Logout</a>
    </div>

</nav>


<div class="form-container">

    <h2>Add Transaction</h2>

    <form method="POST">

        <label>Amount</label>

        <input
            type="number"
            name="amount"
            step="0.01"
            required
        >


        <label>Date</label>

        <input
            type="date"
            name="date"
            required
        >


        <label>Description</label>

        <input
            type="text"
            name="description"
            placeholder="Example: Swiggy dinner"
            required
        >


        <label>Type</label>

        <select name="type">

            <option value="Expense">
                Expense
            </option>

            <option value="Income">
                Income
            </option>

        </select>


        <label>Category</label>

        <select name="category">

            <option value="Food">Food</option>

            <option value="Transport">
                Transport
            </option>

            <option value="Shopping">
                Shopping
            </option>

            <option value="Bills">
                Bills
            </option>

            <option value="Entertainment">
                Entertainment
            </option>

            <option value="Health">
                Health
            </option>

            <option value="Education">
                Education
            </option>

            <option value="Other">
                Other
            </option>

        </select>


        <button type="submit">
            Add Transaction
        </button>

    </form>

</div>

</body>
</html>